.DateSelection {
  /* border-radius: 8px;
  padding: 4vh 4vw;
  background-color: rgba(0, 0, 0, 0.2); */
}

p {
  margin: 0;
  font-size: calc(15px + 3vmin);
}

.DateSelection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.date-picker {
  font-size: calc(10px + 1vmin);
  margin: 10px 0;
  padding: 6px;
}

.confirm-button {
  background-color: rgba(0, 0, 0, 0.3);
  color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  margin-top: 14px;
  font-size: calc(12px + 2vmin);
}
